<div class="text-center">
    <h1 clss="text-info pt-4">Congratulations! you are one step close to azazing food.</h1>
    <p class="pb-3">We have received your order and your payment will be processed soon!</p>
    <img src="/images/mango.png" width="80%"/>
</div>
